

.section-hero {
    margin-top:5%;
    width: 100%;
    height: '50rem';
    max-height: '50%';
    padding: ' 10px';
    display: 'block';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: 'center';
    background-color:'inherit';
    background-image: url(../assets/freedom.jpeg);
    background-size:'120vw';
    background-position:'';
    filter: 'blur(3px) opacity(.8) hue-rotate(15deg)';
}